@import url('https://fonts.googleapis.com/css?family=Shrikhand|Open+Sans');

body {
  background: url('https://1.bp.blogspot.com/-QpI5fBT7YT0/V35-MhKrP2I/AAAAAAAAG_4/xW7S02ZicM8ufMe9GXv6YtjPxvLQcE3SwCLcB/s1600/repeating-splatter-background-for-websites.jpg');
    background-height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-family: Shrikhand;
}

p, ul {
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  font-family: Open Sans;
}

a {
  color: red;
}

.button-container {
  text-align: center;
  background-color: #0f4191;
  margin: auto;
  padding: 0;
}

.problemsection {
  background-color: #053684;
}

button {
  display: inline-block;
  margin: auto;

}

svg {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

div {
  background-color: #822500;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
}
